.team {
    background: #fff;
}

.card {
    text-align: center;
    background: #fff;
    border-radius: 6px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.card .image {
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 0;
}

.card:hover {
    transform: translateY(-5px);
}

.card .image img {
    width: 100%;
    border-top-left-radius: 6px;
}

.title {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    color: white;
}

.title a {
    color: inherit;
}

.role {
    font-size: 15px;
    color: white;
    opacity: 0.8;
}

.prezes {
    background: var(--paroti-primary, #138999);
}

.komisja {
    background: var(--paroti-base, #df5311);
}

.czlonek {
    background: var(--paroti-secondary, #fdbe44);
}

.wolontariusz {
    background: var(--paroti-tertiary, #8139e7);
}