a:hover {
    color: var(--paroti-secondary, #fdbe44);
    transition: color .2s ease, transform .2s ease;
}

h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--paroti-black, #144047);
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--paroti-black, #144047);
}

.header {
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.linkHref {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 14px;
    color: var(--paroti-secondary, #fdbe44);
}

.linkHref:hover {
    text-decoration: underline;
}